{% extends "AppBundle::layout.html.twig" %}


{% block content %}

    {{ dump(app.session.all) }}
     form(form)
    {{ form_start(form, {'attr' : {'novalidate':'novalidate'}}) }}

    {{ form_end(form) }}
{% endblock %}