<html>
<head>
    <title>{% block title %} {{ "Default Title"|trans }} {% endblock %}</title>

    {% stylesheets
    '%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less'
    'bundles/app/css/custom.css'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!--link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/css/custom.css') }}"/ -->
    {% block stylesheet %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            {% block pageTitle %}
                <h1>Feedback Form</h1>
            {% endblock %}

            {% block content %}  {% endblock %}
        </div>
    </div>
</body>
</html>