{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ "Product Administration"|trans }}
{% endblock %}

{% block pageTitle %}
    <h1>Create Product</h1>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}