{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ "Product Administration"|trans }}
{% endblock %}

{% block pageTitle %}
    <h1>Product Administration</h1>
{% endblock %}

{% block content %}

    <a href="/admin/product/add.html">Create Product</a>

    <table>
        <thead>
            <tr>
                <th>{{ "Title"|trans }}</th>
                <th>{{ "Sku"|trans }}</th>
                <th>{{ "Price"|trans }}</th>
                <th>{{ "Image"|trans }}</th>
                <th>{{ "Description"|trans }}</th>
                <th>{{ "Status"|trans }}</th>
                <th>{{ "Action"|trans }}</th>
            </tr>
        </thead>
        {% for product in products %}
            <tr>
                <td>{{ product.title|e }}</td>
                <td>{{ product.sku|e }}</td>
                <td>{{ product.price|e }}</td>
                <td>{{ product.image|e }}</td>
                <td>{{ product.description|e }}</td>
                <td>
                    {% if product.active == 1 %}
                        {{ "Active"|trans }}
                    {% else %}
                        {{ "NOT Active"|trans }}
                    {% endif %}
                </td>
                <td>
                    <a href="/admin/product/edit/{{ product.id }}.html">Edit</a>
                    <a href="/admin/product/update/{{ product.id }}.html">Update</a>
                    <a href="/admin/product/delete/{{ product.id }}.html">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}