{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ "New Title"|trans }}
{% endblock %}

{% block stylesheet %}
    <style>
        h1 {
            color: #00AA88;
        }
    </style>
{% endblock %}

{% block content %}
    {% for product in products %}
        <div class="col-md-4">
            <img src="{{ product.image|e }}">
            <h1>{{ product.title|e }}</h1>
        </div>
    {% endfor %}
{% endblock %}
